{% extends "clientes/base.html" %}
{% load meus_filtros %}
{% block title %}
Cadastrar Endereco
{% endblock title %}

{% block content %}
<!--Porque o Django precisa validar que aquele formulário está, realmente, sendo enviado por uma aplicação conhecida. Motivo de se usar o csrf_token-->
    <form method="post">
        {% csrf_token %}
        <hr>
        <h4>Endereço: </h4>
        {{ form_endereco.as_p }}
<!--        <div class="form-group">-->
<!--            {{ form_endereco.rua.errors }}-->
<!--            <label>Rua: </label>-->
<!--            {{ form_endereco.rua | addclass:'form-control'}}-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            {{ form_endereco.numero.errors }}-->
<!--            <label>Número: </label>-->
<!--            {{ form_endereco.numero | addclass:'form-control'}}-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            {{ form_endereco.complemento.errors }}-->
<!--            <label>Complemento: </label>-->
<!--            {{ form_endereco.complemento | addclass:'form-control'}}-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            {{ form_endereco.bairro.errors }}-->
<!--            <label>Bairro: </label>-->
<!--            {{ form_endereco.bairro | addclass:'form-control'}}-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            {{ form_endereco.cidade.errors }}-->
<!--            <label>Cidade: </label>-->
<!--            {{ form_endereco.cidade | addclass:'form-control'}}-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            {{ form_endereco.estado.errors }}-->
<!--            <label>Estado: </label>-->
<!--            {{ form_endereco.estado | addclass:'form-control'}}-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            {{ form_endereco.pais.errors }}-->
<!--            <label>País: </label>-->
<!--            {{ form_endereco.pais | addclass:'form-control'}}-->
<!--        </div>-->
        <div class="form-group">
            <input type="submit" name="Cadastrar">
        </div>
<!--    </form>-->
{% endblock content %}
